html
    head
        title !{data.attributes.title}
    body
        div welcome
        
        each link in data.links
            li  
                a(href=link.url+'.html') !{link.caption}
        