html
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&amp;subset=greek-ext")        
        link(rel="stylesheet", href="/style.css") 
      
        title sarmis.gr - !{data.attributes.title}
    body
        div.base-container
                    
            header.base-header
                nav
                    a(href="/") Home
                h1 Welcome to my #[a(href="/") blog].
                
        
            main.base-main
                
                block content
                
            footer.base-footer