extends base.pug

block content 
    
    section
        header 
            h6 Recent posts

        each link in data.links
            article.blog-article
                header
                    h6 2018-01-11
                    a(href=link.url+'.html')
                        h3 !{link.caption}
                    
                
                | !{link.excerpt}
        